body {
	margin: 0;
	padding: 0;
	border: 1px solid LightGrey;
	width: 760px;
	height: 470px;
}

#img_logo {
	position: absolute;
	width: 482px;
	height: 211px;
	left: 139px; /* ( 760 - 482 ) / 2 */
	top: 129px; /* ( 470 - 211 ) / 2 */
}

#img_title {
	position: absolute;
	width: 522px;
	height: 57px;
	left: 119px; /* ( 760 - 522 ) / 2 */
	top: 82px; /* ( 470 - 57 ) / 5 */
	display: none;	
}